body {
    text-align:center;
    background-color: #92a8d1;
}

header {
    font-family: 'Ultra', serif;
    padding-top: 40;
    padding-bottom: 40;
    background-color: #fefbd8;
    color: #80ced6;
}

.btn {
    background-color: #80ced6;
}


input {
    margin: 0.25rem;
    border-radius: 0.5rem;
    text-align:center;
    width: 35%;
    background-color: #80ced6;
}

@media screen and (max-width: 500px) {
    input {
        width: 100%;
    }
}
